<div class="principal">


  <section>
    <h1 class="vermelho">Exercício 1 - School MJV</h1>
    <div class="container-lorem">
      <p class="paragrafro">
        M orem ipsum dolor sit amet consectetur adipisicing elit. Error perspiciatis beatae sint vitae fuga sequi soluta aspernatur deleniti, inventore vero rerum provident blanditiis nostrum maiores accusamus. Ut quas harum placeat.

      </p>
      <p class="paragrafro">
         J olor sit amet consectetur adipisicing elit. Quos quas autem commodi aut iusto tempore provident dignissimos obcaecati. Voluptate atque asperiores recusandae est debitis sapiente dolore, doloremque ducimus ullam velit?
      </p>
      <p class="paragrafro">
        V met, consectetur adipisicing elit. Molestias at minus explicabo dolor consectetur eaque, voluptates perferendis dignissimos distinctio iure? Quidem consequatur incidunt, eaque saepe nulla hic reiciendis eveniet amet.
      </p>
    </div>
  </section>
</div>
