
.vermelho {
  color: rgb(0, 0, 0);
  font-family:Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-align: center;
  margin-top: 150px;
  text-shadow: rgba(47, 47, 49, 0.701) 0.1em 0.1em 0.2em
}
.container-lorem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 120px;
}
.paragrafro{
  color: #ffffff;
  font-family:Arial, Helvetica, sans-serif;
  padding: 20px;
  margin: 0 10px;
  background-color: #06131d;
  border-radius: 10px;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.7);
  text-shadow: rgb(8, 8, 8) 0.1em 0.1em 0.2em;
  text-align: justify;
}

.paragrafro:first-letter {
  font-size: 32px;
  font-weight: bold;
  margin-left: 20px;
  color:rgb(251, 253, 255);
}

