<div>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, expedita. Repellendus adipisci optio obcaecati non illum atque deserunt similique doloribus itaque voluptatum? Ea neque, voluptates exercitationem eaque veritatis ullam expedita.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, expedita. Repellendus adipisci optio obcaecati non illum atque deserunt similique doloribus itaque voluptatum? Ea neque, voluptates exercitationem eaque veritatis ullam expedita.
  </p>
</div>
